@import "./variables.scss";
@import "./priceCard.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: $background-color-html;
  color: $text-color;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  min-height: 100vh;
  box-shadow: 0 6px 6px 0 $box-shadow;
}
