@import "./variables.scss";

.price-card {
  position: relative;
  overflow: hidden;

  min-width: 380px;
  height: 770px;

  line-height: 100%;

  background-color: $background-color-card;

  &__title {
    margin-top: 33px;

    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }

  &__title-caption {
    display: block;

    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }

  &__label {
    position: absolute;
    top: 33px;
    right: -33px;
    width: 147px;
    transform: rotate(47deg);

    margin: auto;

    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: $text-color;

    background-color: $label-background;
  }

  &__price {
    margin-top: 33px;
    margin-bottom: 0;

    height: 105px;

    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
    text-align: center;

    &_green {
      background-color: $color-t1;
    }

    &_blue {
      background-color: $color-t2;
    }

    &_orange {
      background-color: $color-t3;
    }
  }

  &__description {
    margin: 40px auto 0;

    width: 327px;

    font-weight: 300;
    font-size: 15px;
    text-align: center;
  }

  &__options-list {
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;

    width: 380px;

    list-style-type: none;
  }

  &__option {
    display: flex;
    height: 50px;

    text-align: left;
    font-weight: 300;
    font-size: 15px;
    line-height: 50px;

    background-color: $background-color-odd;
  }

  .checkmark {
    display: block;
    width: 15px;
    height: 13px;

    margin: auto;
    margin-left: 22px;
    margin-right: 22px;

    &_green {
      background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
    }

    &_blue {
      background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
    }

    &_orange {
      background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
    }
  }

  &__option:nth-child(even) {
    background-color: $background-color-card;
  }

  &__order-btn {
    width: 154px;
    height: 40px;

    margin: 39px 113px 40px 112px;

    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    cursor: pointer;

    border: none;
    border-radius: 20px;
    &_green {
      background-color: $color-t1;
    }

    &_blue {
      background-color: $color-t2;
    }

    &_orange {
      background-color: $color-t3;
    }
  }
}
