$background-color-html: #141b1c;
$background-color-card: #334247;

$background-color-odd: #2a3438;
$background-color-even: #1f3d63;
$color-t1: #5bb189;
$color-t2: #3a6ba5;
$color-t3: #ec632a;

$text-color: #fff;

//$verification-checkmark-symbol_green: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
//$verification-checkmark-symbol_orange: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
