$background-color-html: #141b1c;
$background-color-card: #334247;

$background-color-odd: #2a3438;
$background-color-even: #1f3d63;
$color-t1: #5bb189;
$color-t2: #3a6ba5;
$color-t3: #ec632a;

$text-color: #ffffff;

$label-background: #dc3f45;

$box-shadow: #00000017;
